.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-72 {
  padding-bottom: 72px;
}

.btn-white:hover {
  color: var(--color-blue);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.btn-light-blue:hover {
  background-color: rgba(142, 161, 225, 0.774);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.wave-1hkxOo {
  color: var(--color-grey);
  margin-bottom: -5px;
}

.upsidedown {
  transform: rotate(180deg);
}
