* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-blue: rgb(37, 94, 233);
  --color-grey: rgb(246, 246, 246);
  --color-light-blue: rgb(142, 161, 225);
  --color-black: rgb(35, 39, 42);
}

a {
  text-decoration: none;
  color: unset;
}

/* TEXT STYLES */

.text-white {
  color: white;
}

.text-small {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}

/* UTILITY STYLES */

.section {
  padding: 8rem 0;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

.col {
  flex-grow: 1;
}

.col-xl {
  flex-grow: 2;
}

.align-right {
  text-align: right;
}

/* HEADER STYLES*/

header {
  background-color: var(--color-blue);
  padding: 1rem 0;
}
header a {
  color: white;
  font-size: 0.9rem;
}

.btn {
  font-size: 1rem;
  padding: 0.6rem 1.3rem;
  border-radius: 30px;
  border-width: 0;
  display: inline-block;
  text-decoration: none;
}

.btn-small {
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  color: var(--color-blue);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

header ul {
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
}

.nav-bar li a {
  padding: 1rem;
}

.nav-bar li a:hover {
  text-decoration: underline;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.nav-bar {
  align-items: center;
}

/* JUMBOTRON SECTION */

.jumbotron-section {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: top;
}

.jumbotron-content {
  color: white;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.719);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.jumbotron-content p {
  line-height: 1.8rem;
}

.jumbotron-content h1 {
  margin-bottom: 2rem;
}

.cta-buttons {
  justify-content: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

/* COLUMNS STYLES*/

.small-col {
  flex-grow: 1;
}

.large-col {
  flex-grow: 2;
}

.large-col img {
  max-width: 600px;
}

.btn-light-blue {
  background-color: var(--color-light-blue);
  color: white;
}

.btn-light-blue:hover {
  background-color: rgba(142, 161, 225, 0.774);
  box-shadow: 0 4px 10px #00000069;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.bg-grey {
  background-color: var(--color-grey);
}

.row-reverse {
  flex-direction: row-reverse;
}

.cta-content {
  text-align: center;
}

footer {
  background-color: var(--color-black);
}

.socials svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.footer-content {
  padding-bottom: 20px;
}

.footer-small-col {
  background-color: var(--color-coral);
  flex-grow: 1;
}

.footer-large-col {
  background-color: var(--color-green-whater);
  flex-grow: 2;
  height: 600px;
}

.white-border {
  border: 1px dashed white;
}

.cols {
  width: 25%;
}

hr {
  border-top: 1px solid var(--color-grey);
  margin-bottom: 15px;
}

.after-footer {
  background-color: var(--color-tiffany);
  justify-content: space-between;
  padding: 15px 0;
}

.logo-btn,
.cta-btn {
  background-color: var(--color-cold-pink);
  padding: 5px;
}
