* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-blue: rgb(37, 94, 233);
  --color-grey: rgb(246, 246, 246);
  --color-light-blue: rgb(142, 161, 225);
  --color-black: rgb(35, 39, 42);
}

a {
  text-decoration: none;
  color: unset;
}

/* TEXT STYLES */

.font-weight-500 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.2rem;
}

/* UTILITY STYLES */

.section {
  padding: 8rem 0;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

.d-flex {
  display: flex;
}

.gap {
  gap: 6rem;
}

.pt-24 {
  padding-top: 24px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-0 {
  padding-left: 0;
}

.pl-24 {
  padding-left: 24px;
}

.negative-margin {
  margin: -1rem;
}

.col {
  flex-grow: 1;
}

.col-xl {
  flex-grow: 2;
}

.align-right {
  text-align: right;
}

/* HEADER STYLES*/

header {
  background-color: var(--color-blue);
  padding: 1rem 0;
}
header a {
  color: white;
  font-size: 0.9rem;
}

.btn {
  font-size: 1rem;
  padding: 0.6rem 1.3rem;
  border-radius: 30px;
  border-width: 0;
  display: inline-block;
  text-decoration: none;
}

.btn-small {
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
}

.btn-white {
  background-color: white;
  color: var(--color-black);
}

header ul {
  display: flex;
  justify-content: center;
}

ul li {
  list-style: none;
}

.nav-bar li a {
  padding: 1rem;
}

.nav-bar li a:hover {
  text-decoration: underline;
  transition: all, 300ms;
  transition-timing-function: linear;
}

.nav-bar {
  align-items: center;
}

/* JUMBOTRON SECTION */

.jumbotron-section {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: top;
}

.jumbotron-content {
  color: white;
  font-weight: 600;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.btn-black {
  background-color: var(--color-black);
  color: white;
}

.jumbotron-content p {
  line-height: 1.8rem;
}

.jumbotron-content h1 {
  margin-bottom: 2rem;
}

.cta-buttons {
  justify-content: center;
  gap: 1rem;
  padding-top: 1.5rem;
}

/* COLUMNS STYLES*/

.small-col {
  flex-grow: 1;
  color: var(--color-black);
}

.large-col {
  flex-grow: 2;
}

.large-col img {
  max-width: 600px;
}

.btn-light-blue {
  background-color: var(--color-light-blue);
  color: white;
}

.bg-grey {
  background-color: var(--color-grey);
}

.row-reverse {
  flex-direction: row-reverse;
}

.cta-content {
  text-align: center;
  color: var(--color-black);
}

/* FOOTER STYLES */

footer {
  background-color: var(--color-black);
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: white;
}

.socials svg {
  width: 25px;
  height: 25px;
  fill: white;
}

.flag-img {
  width: 1.5rem;
  height: 100%;
  margin-right: 0.5rem;
}

#languages {
  background-color: var(--color-black);
  color: white;
  border: unset;
}

footer h3 {
  padding-bottom: 1.5rem;
}

.color-blue {
  color: var(--color-blue);
}

.footer-content {
  padding-bottom: 2.5rem;
  gap: 5rem;
}

.footer-small-col {
  flex-grow: 1;
}

.footer-large-col {
  background-color: var(--color-green-whater);
  flex-grow: 2;
  gap: 5rem;
}

.cols {
  width: 25%;
}

.cols ul li:first-of-type {
  font-weight: bolder;
}

.cols ul li {
  padding-top: 8px;
}

.separator {
  border-top: 1px solid var(--color-blue);
  padding: 1rem 0;
}

.after-footer {
  justify-content: space-between;
  padding-top: 0.9rem;
}
